.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: black;
}

.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}

a {
  text-decoration: none;
  margin: 20px;
  display: block;
  font-size: 1.3rem;
  color: white;
}

.logo{

}

.nav {
  display: flex;
  background-color: #282c34;
  color: white;
  justify-content: flex-end;
}
.test-error {
  display: flex;
  justify-content: center;
}
.test-error input {
  width: 60%;
  margin: 20px;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
.counter {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter input {
  padding: 15px;
}

footer p {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: #020124;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 3em;
  width: 100vw;
  color: whitesmoke;
  font-size: 1em;
  justify-content: center;
  align-content: center;
}
